
*.aux
Lista Março/Tex/main.bbl
Lista Março/Tex/main.blg
Lista Março/Tex/main.fdb_latexmk
Lista Março/Tex/main.fls
Lista Março/Tex/main.log
Lista Março/Tex/main.out
Lista Março/Tex/main.synctex.gz
*.docx
